<div *ngIf="(data.af.auth | async)" class="container m-t-1">
  Logged in as {{data.user.email}}
  <button class="btn btn-danger" type="button" name="logout" (click)="logout()">Logout</button>
  <ul class="m-t-2">
    <li *ngFor="#message of messages | async">
      {{message.content}} - {{message.author}}
    </li>
  </ul>
  <form *ngIf="form_active" (ngSubmit)="send(content.value)">
    <fieldset class="form-group m-t-1">
      <div class="input-group">
        <input placeholder="Enter your message..." type="text" name="content" class="form-control" #content autocomplete="off">
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" name="send">Send</button>
        </span>
      </div>
    </fieldset>
  </form>
</div>
